{% extends 'base.html' %}

{% block titulo %}Cursos{% endblock %}

{% block conteudo %}
<div class="container-fluid py-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    {% if courses %}
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for course in courses %}
        <div class="col courses-container">
          <div class="card course-card shadow-sm">
            <div class="card-body">
              <h5 class="card-title course-name">{{ course.name }}</h5>
              <p class="card-text course-author">{{ course.autor }}</p>
              <p class="card-text course-duration">{{ course.duration }}</p>
              <p class="card-text course-price">R$ {{ course.price }}</p>

              {% if course.stock > 0 %}
              <p class="card-text course-stock">Estoque: {{ course.stock }}</p>
              <a href="{% url 'buy_course' course.id %}" class="btn btn-primary btn-buy">Comprar</a>
              {% else %}
              <p>Curso esgotado</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="col-12 text-center">
      <h1>Nenhum curso cadastrado no momento.</h1>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}